<div class="node-container">
  <div
    class="margin-left-10 height-30 d-flex flex-items-start"
    [ngClass]="nodeIndex === 0 ? 'flex-items-end' : 'flex-items-start'"
  >
    <app-node-branch
      *ngIf="!node?.isRoot"
      [isFirstBranch]="nodeIndex === 0"
    ></app-node-branch>
    <app-node-details
      [node]="node"
      (addChildNodeEvent)="addChildNode()"
      (deleteNode)="this.deletingChildNode.emit($event)"
      (createNewNodeEvent)="this.addingChildNode.emit($event)"
    ></app-node-details>
  </div>

  <div *ngIf="node?.children">
    <div
      *ngFor="let nodeChildren of node?.children; let i = index"
      class="margin-left-25"
    >
      <app-node
        [node]="nodeChildren"
        [nodeIndex]="i"
        (deletingChildNode)="deleteItem($event)"
        (addingChildNode)="addNamedNode($event)"
      ></app-node>
    </div>
  </div>
</div>
