<div class="node-container margin-left-10 height-30 d-flex flex-items-start">
  <div class="node-branch height-15 width-10"></div>
  <div class="node-info margin-left-8 d-flex">
    <div class="height-30 d-flex flex-items-center">
      <img
        class="width-20"
        src="assets/icons/folder-open-regular.svg"
        alt="folder icon"
      />
      <p class="margin-y-0 margin-left-5">my_first_folder</p>
    </div>
  </div>
</div>

<!-- <div class="node-branch height-30 width-10"></div>
<div class="node-branch node-non-first-node"></div> -->
