<div class="node-info margin-left-8 d-flex">
  <div
    class="height-30 d-flex flex-items-end"
    *ngIf="node?.type === 'file' || node?.type === 'folder'"
  >
    <img
      class="height-15"
      [src]="
        node?.type === 'file'
          ? 'assets/icons/file-regular.svg'
          : 'assets/icons/folder-open-regular.svg'
      "
      alt="folder icon"
    />
    <p class="margin-y-0 margin-left-5">
      {{ node?.name }}
    </p>
    <div class="buttons-div">
      <button
        class="margin-left-5"
        *ngIf="node?.type === 'folder'"
        (click)="addNodeChild()"
      >
        <img class="width-10" [src]="'assets/icons/add.png'" />
      </button>
      <button class="margin-left-5" (click)="deleteNodeChild()">
        <img class="width-10" [src]="'assets/icons/delete.png'" />
      </button>
    </div>
  </div>
</div>

<div
  class="margin-left-8 height-30 d-flex flex-items-end"
  *ngIf="node?.type === 'unset'"
>
  <button>File</button>
  <button>Folder</button>
</div>
