<div class="container">
  <div
    class="div-title height-80 bg-black d-flex flex-justify-center flex-justify-center"
  >
    <h1 class="font-color-white">FOLDER STRUCTURE MAKER</h1>
  </div>
  <div class="div-folder-structure padding-15">
    <button
      type="button"
      class="bg-black font-color-white padding-15 margin-bottom-20"
    >
      Add folder to root
    </button>
    <div *ngFor="let node of stubFolderStructure">
      <app-node [node]="node"></app-node>
    </div>
  </div>
</div>
