<div class="container">
  <div
    class="div-title height-80 bg-black d-flex flex-justify-center flex-justify-center"
  >
    <h1 class="font-color-white">FOLDER STRUCTURE MAKER</h1>
  </div>
  <div class="div-folder-structure padding-15">
    <button
      type="button"
      class="bg-black font-color-white padding-15 margin-bottom-20"
      (click)="toggleFormDisplay()"
    >
      Add folder to root
    </button>
    <div
      *ngIf="showFormToAddFolderToRoot"
      class="form-add-new-folder-root padding-15"
    >
      <form [formGroup]="newFolderRootForm" (submit)="addFolderToRoot()">
        <label for="newFoldersName">New Folder's Name</label>
        <input
          class="margin-left-10"
          id="newFoldersName"
          type="text"
          formControlName="newFolderName"
        />
        <button
          class="bg-black font-color-white padding-15 margin-left-10 width-75"
          [disabled]="!newFolderRootForm.valid"
        >
          Add
        </button>
        <button
          class="padding-15 margin-left-10 width-75"
          (click)="toggleFormDisplay()"
          type="button"
        >
          Cancel
        </button>
      </form>
      <p
        *ngIf="!newFolderRootForm.valid && newFolderRootForm.touched"
        class="font-color-red"
      >
        Folder's name cannot be blank.
      </p>
    </div>
    <div *ngFor="let node of nodes$ | async; let i = index">
      <app-node [node]="node" [nodeIndex]="i"></app-node>
    </div>
  </div>
</div>
