<div class="container">
  <div
    class="div-title height-80 bg-black d-flex flex-justify-center flex-justify-center"
  >
    <h1 class="font-color-white">FOLDER STRUCTURE MAKER</h1>
  </div>
  <div class="div-folder-structure padding-15">
    <button
      type="button"
      class="bg-black font-color-white padding-15 margin-bottom-20"
      (click)="toggleFormDisplay()"
    >
      Add folder to root
    </button>
    <app-form-add-folder-root
      *ngIf="showFormToAddFolderToRoot"
      (submitClick)="addFolderToRoot($event)"
      (cancelClick)="toggleFormDisplay()"
    ></app-form-add-folder-root>
    <div *ngFor="let node of nodes$ | async; let i = index">
      <app-node [node]="node" [nodeIndex]="i"></app-node>
    </div>
  </div>
</div>
