/* You can add global styles to this file, and also import other style files */

.d-flex {
  display: flex;
}

.flex-items-start {
  align-items: flex-start;
}

.flex-items-center {
  align-items: center;
}

.flex-items-end {
  align-items: flex-end;
}

.flex-justify-center {
  justify-content: center;
}

.margin-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-left-35 {
  margin-left: 35px;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.padding-15 {
  padding: 15px;
}

.width-10 {
  width: 10px;
}

.width-20 {
  width: 20px;
}

.width-75 {
  width: 75px;
}

.height-15 {
  height: 15px;
}

.height-30 {
  height: 30px;
}

.height-80 {
  height: 80px;
}

.bg-black {
  background-color: black;
}

.font-color-white {
  color: white;
}

.font-color-red {
  color: red;
}

button {
  cursor: pointer;
}
